<h1>Listing whatevs</h1>

<table>
  <tr>
    <th>Foo</th>
    <th>Bar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

{{#each whatevs}}
  {{> whatev}}
{{/each}}
</table>

<br />

<a href="/whatevs/new">New Whatev</a>

