<h1>Listing whatevs</h1>

<table>
  <tr>
    <th>Foo</th>
    <th>Bar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => "whatev", :collection => @whatevs%>
</table>

<br />

<a href="/whatevs/new">New Whatev</a>

